.btm-box {
    background-color: var(--light-grey);
    padding: 4rem;
    box-shadow: var(--box-shadow);
}

.task-container {
    overflow-y: auto;
    height: 15rem;
}

.icon-user {
    color: var(--bg-blue);
    background-color: var(--accent);
    border-radius: 50%;
}

.icon:hover {
    border: transparent;
}

.btn {
    text-transform: capitalize;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--bg-blue-lgt);
    border-radius: 2rem;
}

.btn-primary-main {
    background-color: var(--primary);
    border: 2px solid var(--bg-blue-lgt);
    border-radius: 1rem;
}

.btn-box {
    background-color: var(--bg-blue-lgt);
    border-radius: 2rem;
}

.input-task {
    border: 1px solid var(--text-grey);
    width: max-content;
}

.input-task:focus-visible {
    border: 1px solid var(--bg-blue);
}

.task-card {
    background-color: var(--bg-blue-lgt);
    border-left: 2px solid var(--primary);
}